@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  
}
.container{
  background-image: url('./assets/auth/login.jpg');
  background-repeat: no-repeat;
  background-size:cover;
  height: 100vh;
  background-position: center;
}
.myblur{
  backdrop-filter: blur(30px);
  background-color: transparent;
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}
.myBox{
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);

}
tr ,th{
  padding: 15px;
  
    border: 2px solid white;
}
table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 30px;
  border: 2px solid white;
  text-align: left;
}